@using System.Globalization
@model WebApp.ViewModels.BookTicketViewModel
@{
    ViewData["Title"] = "Резервиране";
}

<div class="container">
    <h1 class="my-4">Резервирай билет</h1>

    <form asp-controller="Ticket" asp-action="BookTicket" method="get">
        <div class="form-group">
            <label for="selectedCompanyId">Компания:</label>
            <select class="form-control" id="selectedCompanyId" asp-for="SelectedCompanyId">
                <option value="">-- Изберете компания --</option>
                @foreach (var item in Model.Companies)
                {
                    <option value="@item.Value" selected="@(item.Value == Model.SelectedCompanyId?.ToString())">@item.Text</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="startingDestination">Начална дестинация:</label>
            <input class="form-control" type="text" id="startingDestination" name="startingDestination" value="@Model.SelectedStartingDestination" />
        </div>
        <div class="form-group">
            <label for="finalDestination">Крайна дестинация:</label>
            <input class="form-control" type="text" id="finalDestination" name="finalDestination" value="@Model.SelectedFinalDestination" />
        </div>
        <div class="form-group">
            <label for="date">Дата на заминаване:</label>
            <input class="form-control" type="date" id="date" name="date" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" />
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Филтрирай</button>
    </form>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Начална дестинация</th>
                <th>Крайна дестинация</th>
                <th>Дата на пътуване</th>
                <th>Дата на пристигане</th>
                <th>Цена</th>
                <th>Компания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var destination in Model.Destinations)
            {
                <tr>
                    <td>@destination.StartingDestination</td>
                    <td>@destination.FinalDestination</td>
                    <td>@destination.Departure</td>
                    <td>@destination.TimeOfArrival</td>
                    <td>@destination.Price.ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@destination.Bus.TransportCompany.Name</td>
                    <td>
                        <a asp-controller="Ticket" asp-action="SelectSeat" asp-route-id="@destination.DestinationId" class="btn btn-primary">Резервирай</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
