@model IEnumerable<WebApp.Models.Bus>
@{
    ViewData["Title"] = "Buses";
    ViewData["TransportCompanyId"] = ViewBag.TransportCompanyId;
}

<h1>Buses</h1>

<p>
    <a asp-action="CreateBus" asp-route-transportCompanyId="@ViewData["TransportCompanyId"]" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsNumber)
                </td>
            </tr>
        }
    </tbody>
</table>