@model IEnumerable<WebApp.Models.TransportCompany>

@{
    ViewData["Title"] = "Автобусни компании";
}

<h1>Автобусни компании</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Име</th>
                <th>Лого</th>
                <th>Опции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Logo)" alt="@item.Name Logo" style="width: 100px; height: auto;" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TransportCompanyId" class="btn btn-sm btn-secondary">Редактиране</a>
                        <a asp-action="Details" asp-route-id="@item.TransportCompanyId" class="btn btn-sm btn-info">Подробности</a>
                        <a asp-action="Buses" asp-route-transportCompanyId="@item.TransportCompanyId" class="btn btn-sm btn-secondary">Автобуси</a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" asp-for="@item.TransportCompanyId" name="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Наистина ли искате да изтриете компанията');" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
