@model IEnumerable<WebApp.Models.TransportCompany>

@{
    ViewData["Title"] = "Автобусни Компании";
}

<h1>Автобусни компании</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавяне на нова компания</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Лого
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Logo)" alt="@item.Name Logo" width="100" height="100" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransportCompanyId" class="btn btn-secondary">Редактиране</a>
                    <a asp-action="Details" asp-route-id="@item.TransportCompanyId" class="btn btn-secondary">Подробности</a>
                    <a asp-action="Buses" asp-route-transportCompanyId="@item.TransportCompanyId" class="btn btn-secondary">Автобуси</a>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" asp-for="@item.TransportCompanyId" name="id" />
                        <input type="submit" value="Изтрий" class="btn btn-danger" onclick="return confirm('Наистина ли искате да изтриете компанията?');"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>