@using System.Globalization
@model WebApp.Models.Destination

@{
    ViewData["Title"] = "Изтриване";
}

<div class="container">
    <h1 class="my-4">Изтриване</h1>

    <div class="card">
        <div class="card-header">
            <h4>Наистина ли искате да изтриете дестинацията?</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    Начална дестинация
                </dt>
                <dd class="col-sm-8">
                    @Model.StartingDestination
                </dd>
                <dt class="col-sm-4">
                    Крайна дестинация
                </dt>
                <dd class="col-sm-8">
                    @Model.FinalDestination
                </dd>
                <dt class="col-sm-4">
                    Продължителност
                </dt>
                <dd class="col-sm-8">
                    @Model.Duration
                </dd>
                <dt class="col-sm-4">
                    Дата на пътуване
                </dt>
                <dd class="col-sm-8">
                    @Model.Departure
                </dd>
                <dt class="col-sm-4">
                    Дата на пристигане
                </dt>
                <dd class="col-sm-8">
                    @Model.TimeOfArrival
                </dd>
                <dt class="col-sm-4">
                    Автобус
                </dt>
                <dd class="col-sm-8">
                    @Model.Bus.Name
                </dd>
                <dt class="col-sm-4">
                    Цена
                </dt>
                <dd class="col-sm-8">
                    @Model.Price.ToString("C", CultureInfo.CurrentCulture)
                </dd>
            </dl>
        </div>
    </div>

    <form method="post" class="mt-4">
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="DeleteAllRepetitions" name="deleteAllRepetitions" value="true" @(ViewBag.DeleteAllRepetitions ? "checked" : "") />
            <label class="form-check-label" for="DeleteAllRepetitions">Изтрий повтарящите се маршрути</label>
        </div>
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </form>
</div>