@using System.Globalization
@model WebApp.Models.Destination

@{
    ViewData["Title"] = "Информация за маршрута";
}

<div class="container">
    <h1 class="my-4">Информация за маршрута</h1>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    Начална дестинация
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StartingDestination)
                </dd>
                <dt class="col-sm-4">
                    Крайна дестинация
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FinalDestination)
                </dd>
                <dt class="col-sm-4">
                    Продължителност
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Duration)
                </dd>
                <dt class="col-sm-4">
                    Дата на заминаване
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Departure)
                </dd>
                <dt class="col-sm-4">
                    Дата на пристигане
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TimeOfArrival)
                </dd>
                <dt class="col-sm-4">
                    Автобус
                </dt>
                <dd class="col-sm-8">
                    @Model.Bus.Name
                </dd>
                <dt class="col-sm-4">
                    Цена
                </dt>
                <dd class="col-sm-8">
                    @Model.Price.ToString("C", CultureInfo.CurrentCulture)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </div>
</div>
